/* Footer section */

/* Responsive adjustments for max-width: 767px */
@media (max-width: 767px) {
  :root {
    --footer-padding: 5rem 2rem 1rem; /* Adjust footer padding */
  }

  .footer .social.nav,
  .footer .footer-nav {
    text-align: center; /* Center-align text in social and footer navigation */
  }

  .footer .social.nav li + li,
  .footer .footer-nav li + li {
    padding-left: 2rem; /* Add left padding starting on the second list item */
  }
}

