/* Target elements with data-section-theme="dark" */
[data-section-theme="dark"] {
  --text-color: var(--color-white); /* Redefine text-color */
  --section-title-color: var(--color-white); /* Redefine section-title-color */
  background: var(--color-black); /* Set background color */
}

/* Update previous custom property declarations for reference */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
  --section-title-color: var(--color-black);
}

