/* Define custom properties for the root element */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Reset color for elements with class section-tagline */
.section-tagline {
  color: var(--color-primary);
}

/* Reset color for elements with class card-category */
.card-category {
  color: var(--color-primary);
}

/* Reset color for the body element */
body {
  color: var(--text-color);
}

/* Reset color for anchor elements */
a {
  color: var(--text-color);
}

